anyio==4.12.1
bio==1.8.1
biopython==1.86
biothings_client==0.4.1
certifi==2026.2.25
charset-normalizer==3.4.5
gprofiler-official==1.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
mygene==3.2.2
numpy==2.4.2
opencv-python==4.13.0.92
packaging==26.0
pandas==3.0.1
platformdirs==4.9.4
pooch==1.9.0
python-dateutil==2.9.0.post0
requests==2.32.5
six==1.17.0
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
